/* dark elf night palette */

* {
    background:     #1e2128;
    background-alt: #282c33;
    foreground:     #91acc3;
    selected:       #343b47;
    active:         #778a9c;
    urgent:         #8c4a52;
    
    normal-background:           @background;
    normal-foreground:           @foreground;
    alternate-normal-background: @background-alt;
    alternate-normal-foreground: @foreground;
    selected-normal-background:  @selected;
    selected-normal-foreground:  #1e2128;
    
    active-background:           @active;
    active-foreground:           @background;
    alternate-active-background: @background-alt;
    alternate-active-foreground: @active;
    selected-active-background:  @active;
    selected-active-foreground:  @background;
    
    urgent-background:           @urgent;
    urgent-foreground:           @foreground;
    alternate-urgent-background: @background-alt;
    alternate-urgent-foreground: @urgent;
    selected-urgent-background:  @urgent;
    selected-urgent-foreground:  @background;
    
    border-color:               #282c33;
    separatorcolor:             #282c33;
}